NODE_ENV=development

# Database configuration
DATABASE_USER=your_db_user
DATABASE_PASSWORD=your_db_password
DATABASE_DB=your_db_name

# API configuraion
API_PORT=3333
DATABASE_HOST=postgres
DATABASE_PORT=5432

# Prisma Configuration
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Authentication
JWT_SECRET=""